.sobre__conquistas{
    margin-top: 3rem;
}

.sobre__conquistas-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.sobre__conquistas-right > p{
    margin: 1.6rem 0 2.5rem;
}

.cards__conquistas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card__conquista{
    background: var(--cor-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transicao);
}

.card__conquista:hover{
    background: var(--cor-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.icone__conquista{
    background: var(--cor-perigo);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.card__conquista:nth-child(2) .icone__conquista{
    background: var(--cor-sucesso);
}

.card__conquista:nth-child(3) .icone__conquista{
    background: var(--cor-primaria);
}

.card__conquista p{
    margin-top: 1rem;
}

.time{
    background: var(--cor-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.time__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.membro__time{
    background: var(--cor-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transicao);
    position: relative;
    overflow: hidden;
}

.membro__time:hover{
    background: transparent;
    border-color: var(--cor-primaria);
}

.membro__time-imagem img{
    filter: saturate(0);
}

.membro__time:hover img{
    filter: saturate(1);
}

.membro__time-info *{
    text-align: center;
    margin-top: 1.4rem;
}

.membro__time-info p{
    color: var(--cor-cinza);
}

.membro__time-socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--cor-primaria);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
}

.membro__time:hover   
.membro__time-socials{
    right: 0;
    transition: var(--transicao);
}

.membro__time-socials a{
    padding: 1rem;
}


@media screen and (max-width: 1024px) {
    .sobre__conquistas{
        margin-top: 2rem;
    }

    .sobre__conquistas-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .sobre__conquistas-left{
        width: 80%;
        margin: 0 auto;
    }

    .time__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .membro__time{
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .card__conquista{
        grid-template-columns: 1fr 1fr ;
        gap: 0.7rem;
    }

    .time__container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .membro__time{
        padding: 0;
    }

    .membro__time p{
        margin-bottom: 1.5rem;
    }

    
}